diff -rupN a/PKGBUILD b/PKGBUILD
--- a/PKGBUILD	2018-06-09 13:07:27.618584904 +0200
+++ b/PKGBUILD	2018-06-09 14:50:48.851980113 +0200
@@ -11,7 +11,7 @@ arch=(x86_64)
 url='https://community.kde.org/Frameworks'
 license=(LGPL)
 depends=(kauth kcodecs kconfig kguiaddons ki18n kwidgetsaddons)
-makedepends=(extra-cmake-modules kdoctools clang python-pyqt5 python2-pyqt5 doxygen qt5-tools)
+makedepends=(extra-cmake-modules kdoctools python-pyqt5 python2-pyqt5 doxygen qt5-tools)
 optdepends=('python-pykf5: to use the Python 3 bindings' 'python2-pykf5: to use the Python 2 bindings')
 groups=(kf5)
 source=("https://download.kde.org/stable/frameworks/${pkgver%.*}/$pkgname-$pkgver.tar.xz"{,.sig})
